# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [3]:
number = 6 
print(number)

6

##### Assinging float

In [2]:
num_float = 2.6
print(num_float)

2.6

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num1 = 5
num2 = 2.4

result = num1 +num2 
print(result)

#shorthand for incrementing
# result = result + 2
result += 2
print(result)

7.4
9.4

##### Subtraction

In [7]:
result_diff = 5 - num1
print(result_diff)

#decremantation
# result_diff = result_diff -1 

result_diff -= 1
print(result_diff)

0
-1

##### Multiplication

In [10]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

12.0
24.0

##### Division

In [12]:
result_div = 50 / num1
print(result_div)

#shorthand
result_div /= 2
print(result_div)

10.0
5.0

##### Floor Division

In [14]:
result_floor = 20 // 6
print(result_floor)

result_floor //= 2 
print(result_floor)

3
1

##### Modulo

In [18]:
result_mod = 10 % 3
print (result_mod)

#shorthand decremantation is possibel - not often used with modulo

1

##### Exponential

In [20]:
squared = 10 ** 2
print(squared)

# shorthand exponent incremantation 

squared **= 2
print(squared)

100
10000

### String Input-Output

##### String Assignment

In [21]:
name = "Vida"
print(name)

Vida

##### print() <br>
<p>Don't forget about end=' '</p>

In [23]:
print("This is my firt name:", name)

print("Full Name:", name, end=" G")

This is my firt name: Vida
Full Name: Vida G

##### String Concatenation

In [27]:
first = 'James'
last = 'Bond'

full_name = first + " " + last
print(full_name)

#shortcut 
full_name += " the 3rd"
print(full_name)

James Bond
James Bond the 3rd

##### Type Conversion

In [28]:
number = "45"

new_type = int(number)

#type(number)
type(new_type)

#Must be used to convert number values only (no letters) - below will cause an error
# some_word = "coding"
#int(some_word)

int

##### input()

In [29]:
# Input will always a return a string to you -- EVERY TIME

# syntax: variableName = input("some question goes here..")

# name = input("what is your name?")

# print(name)

age = int(input("What is your age?"))
add_age = age + 1
print(add_age)

What is your age?16
17

##### format()

In [31]:
time = input("How long have you been at Coding Temple?")

# non efficient way ... 
# sentence = "Your name is" + name + " " " You have been at CT for " + time
#print(sentence)

#formated string
result = "Yor name is {} you have been at CT for {}".format(name,time)
print(result)

# f string -- MOST COMMON
result_2 = f"Your name is {name} you have been at CT for {time}!"
print(result_2)

How long have you been at Coding Temple?1
Yor name is Vida you have been at CT for 1
Your name is Vida your have been at CT for 1!

##### Old Way (python 2)

In [32]:
# Old fashined way ... but you may see this occasionally in old docs
result_3 = "You have been at CT for %s" %time
print(result_3)

You have been at CT for 1

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [34]:
# OUTPUT: This car is a blue 2019 Honda Civic 

color = input("what is the color of your car?")
year = input("which year?")
make = input("which company?")
model = input("what is the model?")

result = f"This car has color {color}, the year is {year}, make is {make}, model is {model}!"

print(result)

what is the color of your car?h
which year?
which company?h
what is the model?h
This car has color h, the year is , make is h, model is h!

### If Statements

In [44]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 == num1:
    print('Equal Values')
else:
    print("Not Equal")
    
if num2 >= num1:
    print("Num2 is greater")
elif num1 <= num2:
    print("Num1 is less than")

Not Equal
Num2 is greater

##### 'is' keyword

In [46]:
# use the "is" keyword when checking for same/similar object, NOT same value
num3 = 55

if num3 is 55:
    print("This is the exact number/object")

This is the exact number/object

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-46-c6b0dfc63bb8>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [47]:
# Check if char in name
char_name = "Max Payne"

if "Max" in char_name:
    print("The Character who lost everything...")

The Character who lost everything...

##### 'not in' keyword'

In [48]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [36]:
answer = input("what is your name?")

if "p" in answer:
    print(True)
else:
    print(False)
  
# Shorthand to return a boolean value
"p" in name

what is your name?"vida"
False

False

## Using 'and'/'or' with If Statements

In [39]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num_1 = 15
num_2 = 3
num_3 = 10
num_4 = 2

# If with "and" keyword
if num_1 / 5 == num_2 and num_3 - 8 ==2:
    print("True and True")
    
# If with "or" keyword
if 15 - 7 == 8 or 2 + 2 == 1000:
    print("At least one is True")

True and True
At least one is True

### Elif Statements

In [51]:
school_name = "CTU"

if school_name == "Indiana University":
    print("This is IU")
elif school_name == "Coding Temple":
    print("This is not IU, it is CT")
elif school_name != "CTU":
    print("Not IT, Not CT, Not CTU")
else:
    print(f"I have never heard of {school_name}")
    

    
num = 15

if num / 5 > 1:
    print("The number is at least 5")
elif num * 3 > 45:
    print("The number is at least 15")

I have never heard of CTU
The number is at least 5

### Else Statements

In [ ]:
# see above

### For Loops

In [55]:
# "for" keyword, counter, "in" keyword

name = "Vida G"

for char in name:
    print(char)
    
for i in range(len(name)):
    print(f'name[{i}] == {name[i]}')

V
i
d
a

G
name[0] == V
name[1] == i
name[2] == d
name[3] == a
name[4] ==
name[5] == G

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [58]:
for i in range(20):
    if i % 3 == 0:
        continue
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19

##### Break Statement

In [ ]:
# will break out of current loop

In [59]:
for i in range(20):
    if i == 7:
        break
    print(i)

0
1
2
3
4
5
6

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [60]:
for i in name:
    pass # To do items: telling yourself to come back and finish later ( will not break your code and cause error)

##### Double For Loops

In [61]:
for i in range(5):
    for j in range(5):
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 0, j = 3
i = 0, j = 4
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 3, j = 0
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 4, j = 0
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4

### While Loops

In [63]:
# while keyword, conditional statment
# whole looping functionality is directly tied to condition remaining true

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [64]:
while True:
    name = input("What is your name? type 'quit' to quit")
    if name == "quit":
        break
    else:
        print(f"Hello there {name}!")

What is your name? type 'quit' to quitVida
Hello there Vida!
What is your name? type 'quit' to quitVida
Hello there Vida!
What is your name? type 'quit' to quitquit

##### While & For Loops Used Together

In [67]:
num = 0
while num < 5:
    print("\nwhile loop iteration:", num)
    
    for i in range(2):
        print("For loop iteration:", i)
        
    num += 1

while loop iteration: 0
For loop iteration: 0
For loop iteration: 1

while loop iteration: 1
For loop iteration: 0
For loop iteration: 1

while loop iteration: 2
For loop iteration: 0
For loop iteration: 1

while loop iteration: 3
For loop iteration: 0
For loop iteration: 1

while loop iteration: 4
For loop iteration: 0
For loop iteration: 1

### Built-In Functions

##### range()

In [68]:
#start, stop, step
# goes up to stop, not including stop

for i in range(2, 30, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

##### len()

In [69]:
# checks lenght of the variable 

name = "John"

length = len(name)
print(length)

4

##### help()

In [70]:
# use this for some documantation for built-in python functions

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [75]:
#help(instance)
isinstance(4.5, float)

if isinstance(4.5, float):
    print("It is a float")

It is a float

##### abs()

In [76]:
# |-5|
print(abs(-5))

5

### Try and Except

In [79]:
# use when you expect your code to be broken (usually by incorrect input) - this allows you to keep the program running 
# Also allows you look out more graceful error messages

#while true:

try:
    number_test = 0
    input_num = int(input("guess a number!"))
    if input_num == number_test:
        print("you Guessed the number!")
    else:
        print("Sorry, try again")
except:
    print("that did not work -- please change your input to a number next time!")

guess a number!h
that did not work -- please change your input to a number next time!

### Lists

##### Declaring Lists

In [80]:
#Snake Case: name_list_one
#Camel Case: nameListOne

# don not use the word "list". it is a built-in in python 
list_1 = [] # empty list

names = ["Max", "Cindy", "Kathy", "Bob"]

print(names)

['Max', 'Cindy', 'Kathy', 'Bob']

##### Indexing a List

In [89]:
# syntax: list_name[start:stop:step]

# single index -- list_name[index]
print(names[0])

# negative single index
print(names[-1])
print(names[~0])

# print starting at idx 1, go until the end
print(names[1:])

# print everything from start up to idx 2
print(names[:2])

# print beginning at idx 1, go through the end, step by 2
print(names[1::2])

# print starting at the end reverse order
print(names[::-1])

Max
Bob
Bob
['Cindy', 'Kathy', 'Bob']
['Max', 'Cindy']
['Cindy', 'Bob']
['Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [92]:
names.append("joel")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'joel', 'joel', 'joel']

##### .insert()

In [93]:
# list_name.insert(idx, value)

names.insert(1, "Nate")
print(names)

['Max', 'Nate', 'Cindy', 'Kathy', 'Bob', 'joel', 'joel', 'joel']

##### .pop()

In [99]:
# defult to very last index if no parameter 
# pop returns the element you pop, so you can store it as a variable it if you want

my_name = names.pop(1)
print(my_name)
print(names)
print(my_name)



raffle = ['zkjh;khi', 'jglugliu', 'jkglglu']

one = raffle.pop()
two = raffle.pop()
three = raffle.pop()

print(raffle)

Kathy
['Max', 'Bob', 'joel', 'joel', 'joel']
Kathy
[]


##### .remove()

In [106]:
# value to be removed, not an index
names = ['Max', 'joel', 'joel', 'joel', 'Bob', 'Bob']
#print(names)

while 'Bob' in names:
    names.remove('Bob')
    print("Removing another bob..", names)

Removing another bob.. ['Max', 'joel', 'joel', 'joel', 'Bob']
Removing another bob.. ['Max', 'joel', 'joel', 'joel']

##### del()

#### Aditional Example:

In [111]:
names = ['Max', 'Kathy', 'joel', 'Bob', 'Cindy']
rem_names = ['Bob', 'Cindy']

for name in rem_names:
    while name in names:
        names.remove(name)
        print(f"Removing {name}...", names)

Removing Bob... ['Max', 'Kathy', 'joel', 'Cindy']
Removing Cindy... ['Max', 'Kathy', 'joel']

In [112]:
# list index to be removed,not a value in particular 
# BE CARFUL, can cause indexing errors
names = ['Max', 'Kathy', 'joel', 'Bob', 'Cindy']
print(names)
del(names[1])
print(names)

['Max', 'Kathy', 'joel', 'Bob', 'Cindy']
['Max', 'joel', 'Bob', 'Cindy']

##### Concatenating Two Lists

In [113]:
# will append or more lists using the '+' operator, will not add up items in list
list_2 = [0,1,2]
list_3 = [3,4,5]

list_4 = list_2 + list_3
print(list_4)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [116]:
# list can hold any data type OR object used in python
# Can have list within other lists

names = ['Jeff', 'Sam', 'Josh', 'Tabitha', ['Tameka', 'Sally', 'Jessica']]

print(names)

print(names[4][2])

['Jeff', 'Sam', 'Josh', 'Tabitha', ['Tameka', 'Sally', 'Jessica']]
Jessica

##### Looping Through Lists

In [118]:
# two different ways to loop : by values, by index

# Loop by value
for name in names:
    print(name)
    
# Loop by index
for i in range(len(names)):
    print(names[i])

Jeff
Sam
Josh
Tabitha
['Tameka', 'Sally', 'Jessica']
Jeff
Sam
Josh
Tabitha
['Tameka', 'Sally', 'Jessica']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

#### Solution #1

In [119]:
i = 1
while i <= 10:
        result = i ** 3
        print (result)
        i += 1

1
8
27
64
125
216
343
512
729
1000

#### Solution #2

In [120]:
num = []
result = 1
for i in range(1,1000):
    if result >= 1000:
        break
    else:
        result = i ** 3
        num.append(result)
print(num)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

#### Solution #1

In [121]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range(2, 100):
    is_prime = True
    for j in range(2,i):
        if i % j == 0:
            is_prime = False
            break
    if is_prime == True:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

##### Solution #2

In [122]:
def is_prime(num):
    for i in range(2,num):
        if num % i == 0:
            return False
    return True
       

for i in range(2,100):
    if is_prime(i) == True:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [125]:
age = int(input("What is your age? "))

if age < 18: 
    print("kids")
elif age >= 18 and age < 65:
    print("adults")
else:
    print("seniors")

What is your age? 66
seniors